<div class="dasboard">
    <header>
        <div class="div__item">
            <i class="bi bi-file-person-fill"></i>
            <p>15 Personnel</p>
        </div>
        <div class="div__item">
            <i class="bi bi-coin"></i>
            <p>20 Payement</p>
        </div>
        <div class="div__item">
            <i class="bi bi-currency-exchange"></i>
            <p>8 Avance</p>
        </div>
        <div class="div__item">
            <i class="bi bi-files-alt"></i>
            <p>10 Contrat</p>
        </div>
    </header>
</div>
